h1 {
  color: #be2909;
  background-color: #dd0cc0;
}

#head-3 {
  color: #0cdd6b;
  background-color: #dd0c42;
}

.text-pink {
  color: #ee87bb;
}

button {
  width: 80px;
  height: 50px;
  border-radius: 8px;
  background-color: #e3e712;
}
